@import '../../styles/main.scss';

.confirmation-container {
	margin-top: 96px;
	width: 100%;

	h3 {
		font-family: $first-font;
		font-weight: 400;
		font-size: 26px;
		line-height: 135%;
		color: $black;
		margin-bottom: 25px;
	}

	h4 {
		font-family: $first-font;
		font-weight: 400;
		font-size: 16px;
		line-height: 169%;
		color: $black;
	}

	h5 {
		font-family: $first-font;
		font-weight: 400;
		font-size: 16px;
		line-height: 169%;
		color: $dark-gray;
	}
}

.confirmation-result {
	display: flex;
	flex-direction: row;
	gap: 15px;
	width: 100%;
	border-top: 2px solid $accent;
	height: 68px;
	background: $light-gray;
	padding: 20px 30px;
	margin-bottom: 96px;
}

.order-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 720px;
	background: $light-gray;
	padding: 39px 59px;

	.title-bold {
		font-weight: 700;
	}

}

.confirmation-order-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 15px;
}

.confirmation-divider {
	border-block-start: 2px solid #D8D8D8;
	margin-bottom: 5px;
}