@import '../../styles/main.scss';

.product-page-container {
	padding-top: 5%;
}

.product-page-photo {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.product-page-photo img {
	cursor: pointer;
	width: 100%;
}

.product-page-photo img:hover {
	border: 1px solid var(--divider, #C4C4C4);
}

.product-page-photo-active {
	border: 2px solid #000;
}

.product-page-photo-main {
	padding: 0px 35px;
}

.product-page-photo-main img {
	width: 100%;
}

.product-info {
	padding-left: 45px;

	h4 {
		font-family: $first-font;
		font-weight: 400;
		font-size: 26px;
		line-height: 135%;
		color: $black;
	}

	h5 {
		font-family: $first-font;
		font-weight: 500;
		font-size: 20px;
		line-height: 130%;
		text-transform: capitalize;
		color: $accent;
		margin-bottom: 50px;
	}
}

.product-info-text {
	font-family: $first-font;
	font-weight: 400;
	font-size: 16px;
	line-height: 169%;
	color: $dark-gray;

	span {
		margin-right: 16px;
		color: $black;
	}
}

.product-rate {
	color: #000;
}

.product-info-block {
	gap: 30px;
}

.product-add-block {
	width: 100%;
	margin: 35px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.product-icons {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-start;
	gap: 35px;
	margin: 15px 0;

	.product-community {
		display: flex;
		flex-direction: row;
		gap: 25px;
		align-items: flex-start;
	}

	span {
		font-size: 22px;
		color: #D8D8D8;
	}

	svg {
		color: $dark-gray;
		cursor: pointer;
	}
}

.product-description {
	font-family: $first-font;
	font-weight: 400;
	font-size: 16px;
	line-height: 169%;
	color: $dark-gray;
}