@import './styles/main.scss';


.app-container {
	min-width: 100vw;
	min-height: 100vh;
	padding: 46px 64px;
	font-family: $first-font;
	background-color: #fff;
}

.header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 35px;
	height: 65px;
	border-bottom: 1px solid $gray;
	margin-bottom: 15px;
}

.header-logo {
	display: flex;

	img {
		width: 140px;
	}
}

.header-menu {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	align-content: center;
	gap: 35px;
	width: 100%;

	li {
		font-size: 16px;

		&:hover {
			border-bottom: 1px solid $black;
			opacity: 0.7;
		}

		&:focus {
			border-bottom: 3px solid $black;
		}
	}

	.active-menu-item {
		border-bottom: 2px solid $black;
	}

	.header-menu-icons {
		display: flex;
		align-items: flex-end;
		margin-top: 10px;

		span {
			font-size: 26px;
			color: #D8D8D8;
		}

		svg {
			cursor: pointer;
		}
	}
}

.ant-layout-header {
	padding: 0;
}

.footer-container {
	display: flex;
	flex-direction: column;
	gap: 50px;
	color: $dark-gray;

	svg {
		color: $dark-gray;
		cursor: pointer;
	}

	input {
		border-bottom: 1px solid #000;
		border: none;
	}

	p {
		font-family: $first-font;
		font-weight: 400;
		font-size: 16px;
		line-height: 169%;
	}

	span {
		color: $black;
	}
}

.footer-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.footer-input {
	border-bottom: 1px solid #000 !important;
	padding-bottom: 13px;
	padding-left: 0;
	font-family: $first-font;
	font-weight: 400;
	font-size: 16px;
	line-height: 169%;
	color: $dark-gray;
}

.footer-community {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	gap: 30px;
}